<footer>
    
    <div class="social-media">
        <a href="https://www.facebook.com/your-page" target="_blank"><i class="fab fa-facebook-f"></i></a>
<a href="https://www.twitter.com/your-page" target="_blank"><i class="fab fa-twitter"></i></a>
<a href="https://www.instagram.com/your-page" target="_blank"><i class="fab fa-instagram"></i></a>
<a href="https://www.youtube.com/your-page" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
    
    
    <div class="copyright">
        &copy; 2023 Your Company Name. All rights reserved.
    </div>
</footer>